.home_container {
    min-height: 50vh;
}

.main_footer {
    position: absolute;
    bottom: 0;
}

.fixed_navbar {
    margin: 8em 0em 0em 0em;
}

.ui.inverted.top.fixed.menu {
    background-color: aquamarine;
}